@charset "UTF-8";

/*Required by material icons*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'),  url(../font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 40;
  src: local("Open Sans"), url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 40;
  src: local("Pacifico"), url("../font/Pacifico.ttf") format("truetype");
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
body {
    margin: 0 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.animationCurtain {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0;
}
.hidden {
  display: none;
}

/*=============================================
 * SETUP
=============================================*/

#setupContainer {
    background-image: url("../img/backSetup.png");
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

/*=============================================
 * SETUP -> HEADER
=============================================*/

header {
    display: table;
    text-align: center;
    width: 100%;
    height: 10%;
}
header h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 8vmin;
    text-transform: uppercase;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);
}

/*=============================================
 * SETUP -> FIELDS
=============================================*/

#setupContainer main {
    position: relative;
    margin: 0 auto;
    max-width: 80%;
    height: 90%;
}
.fields> div {
    text-align: center;
}
#banner {
    width: 28vh;
    height: 28vh;
    max-width: 80vw;
    max-height: 80vw;
    margin: 2vh 0;
    border: 0.5vh dashed white;
    transition: 0.5s all;
}
#banner[src$="placeholder.png"] {
    border: none;
}
.photoButtons {
    margin: 2vh 0;
    text-align: left;
}
.photoButtons button {
    opacity: 0.7;
    border-radius: 50%;
    border: 2px solid white;
    width: 12vmin;
    height: 12vmin;
    background-color: transparent;
    vertical-align: middle;
    margin: 0 1vh;
    transition: all 0.2s;
}
.photoButtons button:hover {
    opacity: 1;
    box-shadow: 0 0 8px white;
}
.photoButtons i {
    color: white;
    font-size: 6vmin;
}
.photoButtons span {
    display: inline-block;
    opacity: 0.7;
    font-family: 'Pacifico', cursive;
    font-size: 4vmin;
    width: 50%;
    text-align: right;
    vertical-align: middle;
}
.inputs {
    margin: 4vmin 0;
    line-height: 0px;
}
input {
    font-family: 'Open Sans', sans-serif;
    font-size: 5vmin;
    width: 100%;
    padding: 2vmin;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.7);
    transition: all 0.2s;
}
.inputs div:first-child input {
    border-radius: 8px 8px 0 0;
}
.inputs div:last-child input {
    border-radius: 0 0 8px 8px;
    transform: translate(0, -2px);
}
input:hover, input:focus {
    color: black;
    background-color: white;
    border: 2px solid white;
}

/*=============================================
 * SETUP -> NAVIGATION
=============================================*/

.navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3vmin;
    text-align: center;
}
.navigation button {
    font-family: 'Open Sans', sans-serif;
    font-size: 5vmin;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 2vmin;
}
.navigation button:first-child {
    border-radius: 8px 0 0 8px;
}
.navigation button:last-child {
    border-radius: 0 8px 8px 0;
    transform: translate(-2px);
}
.navigation button:hover:enabled {
    color: black;
    background-color: white;
    border: 2px solid white;
}
.navigation button:disabled {
    color: rgba(255, 255, 255, 0.4);
}

/*=============================================
 * CAMERA
=============================================*/

#cam[data-disabled="true"] {
    display: none;
}
#cam, #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
}
#shootPhoto, #cancel {
    position: absolute;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    z-index: 2;
}
#shootPhoto:hover, #cancel:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
}
#shootPhoto {
    bottom: 10vw;
    right: 31vw;
    width: 20vw;
    height: 20vw;
}
#shootPhoto i {
    font-size: 10vw;
}
#cancel {
    bottom: 13vw;
    left: 31vw;
    width: 12vw;
    height: 12vw;
}
#cancel i {
    font-size: 6vw;
}

/*=============================================
 * SCOREBOARD
=============================================*/

#scoreboardContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/backScoreboard.png") repeat;
}
.setScoreContainer {
    margin: 5vmin 0;
}
.setScoreContainer:after {
    content: "";
    display: block;
    clear: both;
}
.setScoreContainer table {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 28px rgba(220, 180, 0, 0.8);
    background-color: black;
    padding: 0.5vmin;
}
.homeScore, .awayScore {
    width: 50%;
}
.homeScore {
    float: left;
}
.awayScore {
    float: right;
}
.setScoreContainer tbody tr {
    font-size: 15vmin;
}
.teamName {
    overflow-x: hidden;
    font-size: 30%;
    background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
}
.teamScore {
    font-size: 100%;
    color: rgb(220, 180, 0);
    text-shadow: 1px 1px 4px rgb(220, 180, 0);
}
.service {
    box-shadow: inset 0 0 20px rgb(220, 180, 0);
    transition: box-shadow 0.8s;
}
.setScoreContainer tbody> tr:nth-child(3) {
    background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
}
.setScoreContainer td {
    width: 50%;
}
.timeoutIndicator {
    margin: 0 auto;
    height: 4vmin;
    width: 4vmin;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.timeoutIndicator.on {
    background-color: red;
    box-shadow: 0 0 8px red;
    transition: background-color 2s, box-shadow 2s;
}

/*=============================================
 * SCOREBOARD -> SETS TABLE
=============================================*/

#gameScoreContainer {
    margin: 5vmin 0;
}
#gameScoreContainer table {
    margin: 0 auto;
    width: 87.4%;
    font-size: 4vmin;
    font-family: 'Opens Sans', sans-serif;
    border-radius: 8px;
    box-shadow: 0 2px 28px rgba(220, 180, 0, 0.8);
    background-color: black;
    padding: 4px;
}
#gameScoreContainer th {
    min-width: 10vmin;
}
#gameScoreContainer tr:first-child {
    font-style: italic;
    color: rgb(220, 180, 0);
}
#gameScoreContainer tr:not(:first-child) td:not(:first-child) {
    text-align: center;
}
#gameScoreContainer tr td:first-child {
    min-width: 18vmin;
}
#gameScoreContainer td {
    background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
}

/*=============================================
 * SCOREBOARD -> BANNERS
=============================================*/

#bannerContainer {
    margin: 5vmin 0;
    text-align: center;
    position: relative;
}
#bannerContainer> div {
    border: 4px solid black;
    position: relative;
    margin: 0 auto;
    width: 87.4%;
    border-radius: 12px;
    box-shadow: 0 2px 28px rgba(220, 180, 0, 0.8);
}
#bannerContainer> div> div {
    position: relative;
    float: left;
    width: 50%;
    height: 25vmin;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#bannerContainer> div> div:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(252, 234, 187, 0.2) 0%, rgba(252, 205, 77, 0.2) 50%, rgba(248, 181, 0, 0.2) 51%, rgba(251, 223, 147, 0.2) 100%);
}
#bannerContainer> div> div.winner:after {
    background: linear-gradient(to bottom, rgba(252, 234, 187, 0.65) 0%, rgba(252, 205, 77, 0.65) 50%, rgba(248, 181, 0, 0.65) 51%, rgba(251, 223, 147, 0.65) 100%);
}
#bannerContainer> div> div.loser:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(50, 50, 50, 0.8) 50%, rgba(40, 40, 40, 0.8) 51%, rgba(10, 10, 10, 0.8) 100%);
}
#bannerContainer> div> div:first-of-type, #bannerContainer> div> div:first-of-type:after {
    border-radius: 8px 0 0 8px;
}
#bannerContainer> div> div:last-of-type, #bannerContainer> div> div:last-of-type:after {
    border-radius: 0 8px 8px 0;
}
#bannerContainer> div:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
#bannerContainer> div:after {
    content: "";
    display: block;
    clear: both;
}
.message {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 40%;
    font-family: Pacifico, cursive;
    font-size: 6vmin;
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dashed;
    /* needs extra settings on chrome */
    -webkit-text-decoration-style: dashed;
    color: rgb(220, 180, 0);
    cursor: pointer;
}

/*=============================================
 * TIMER
=============================================*/

#timer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}
#timer> * {
    position: absolute;
    display: inline-block;
    width: 100vw;
    text-align: center;
}
#timer> i {
    top: 30vh;
    font-size: 20vh;
}
#timer> span {
    bottom: 20vh;
    font-size: 30vh;
    font-family: Pacifico, cursive;
}

/*=============================================
 * ANIMATIONS
=============================================*/

.disappearAppear {
    animation: 1s ease-out 0s disappearAppear;
}
@keyframes disappearAppear {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.pulse {
    animation: 0.8s ease 0s infinite alternate pulse;
}
@keyframes pulse {
    0% {
        text-shadow: 0 0 2px rgb(220, 180, 0);
    }
    100% {
        text-shadow: 0 0 16px rgb(220, 180, 0);
    }
}
.dance {
    animation: dance ease 1s;
    transform-origin: center center;
}
@keyframes dance {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    28% {
        transform: translate(20px, 0px) rotate(5deg);
    }
    72% {
        transform: translate(-20px, 0px) rotate(-5deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

/*=============================================
 * RESPONSIVENESS
=============================================*/

@media screen and (max-width: 600px) and (orientation: portrait) {
    .setScoreContainer tbody tr {
        font-size: 18vh;
    }
    .setScoreContainer table {
        width: 95%;
    }
    .timeoutIndicator {
        height: 5vh;
        width: 5vh;
    }
    #gameScoreContainer table {
        width: 97.5%;
        font-size: 3vh;
    }
    #bannerContainer> div {
        width: 97.5%;
        height: 47.75vw;
    }
    #bannerContainer #homeBanner, #bannerContainer #awayBanner {
        height: 100%;
    }
}
@media screen and (max-height: 600px) and (orientation: landscape) {
    .setScoreContainer tbody tr {
        font-size: 10vmin;
    }
    .setScoreContainer table {
        width: 60%;
    }
    #gameScoreContainer table {
        width: 80%;
    }
    #bannerContainer> div {
        width: 80%;
    }
    input {
        width: 80%;
        font-size: 4vmin;
    }
    .navigation button {
        font-size: 4vmin;
    }
}
@media screen and (max-height: 280px) {
    #setupContainer main {
        top: 10%;
        min-height: 220px;
    }
    header, #banner {
        display: none;
    }
    .photoButtons span {
        font-size: 7vh;
    }
    input, .navigation button {
        font-size: 8vh;
        border-radius: 1px;
    }
    .photoButtons button {
        width: 18vh;
        height: 18vh;
    }
    .photoButtons i {
        font-size: 9vh;
    }
    .navigation {
        bottom: 10vh;
    }
}
@media screen and (max-height: 190px) {
    body {
      position: static;
      height: 100%;
    }
    #setupContainer {
      position: static;
    }
    header, #banner {
        display: none;
    }
    .photoButtons span {
        font-size: 1rem;
    }
    input, .navigation button {
        font-size: 1.2rem;
    }
    .photoButtons button {
        width: 2rem;
        height: 2rem;
    }
    .photoButtons i {
        font-size: 1rem;
    }
    .navigation {
      position: relative;
    }
}
